<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1 align="center" style="color: green;">Thank You !!!!!</h1>
<h3 align="center">Your Order Successfully placed....</h3>
<div class="footer-copyright text-center py-3" align="center" >
					<a href="index" style="text-decoration: none; color: gray;">
						www.SportyShoes.com</a>
				</div>
<h6 align="right" style="text-decoration: none; color: gray;">*Product Reached in 5-6 Days</h6>
</body>
</html>